# Ignore node_modules to be installed inside the container
node_modules
dist
# Ignore the .dockerignore file itself
.dockerignore
# Ignore the Dockerfile itself
Dockerfile
# Ignore local environment files
.env.local
.env.*.local
.env